.hidden {
  opacity: 0;
  visibility: hidden;
}
.show {
  width: 400px;
  height: 200px;
  background-color: #59c678;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
}
.second-el {
  background-color: #59c678;
  width: 200px;
  height: 100px;
}
.third-el {
  background-color: burlywood;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
}

.container-game {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: rgb(77, 247, 85);
}
.press-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #1b5db9;
}
